html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Gilroy";
    /* Имя шрифта */
    src: url("Gilroy-Bold.woff");
    /* Путь к файлу со шрифтом */
}

header {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.06);
}

.header {
    height: 80px;
    width: 100%;
    padding: 0 25px;
}

h1 {
    font-size: 27px;
    color: #624297;
    text-align: center;
    font-family: "Gilroy";
    text-transform: uppercase;
}

h2 {
    font-size: 27px;
    color: #A4D85A;
    text-align: center;
    margin-top: 5px;
    font-family: "Gilroy";
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-family: "Gilroy";
    text-transform: uppercase;
}

.header-text {
    display: none;
}

.btn-download {
    background-color: #65B302 !important;
    color: white !important;
}

.lightning {
    padding: 30px 0;
}

.main-step .justify-content-center img {
    width: 40px;
}

.main-steps {
    margin-top: 30px;
}

.main-step:not(:first-child) {
    margin-top: 60px;
}

#terminals .col-5 img {
    position: relative;
    width: 160%;
    transform: translateX(-20%);
}

.main-step img {
    width: 100%;
}

.main-step .col-5,
.main-step .col-7 {
    display: flex;
    align-items: center;
}

.main-step p {
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #08080A;
}

.main-step span {
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: block;
    margin-top: 5px;
    color: #444444;
}

.main-methods {
    display: none;
    position: relative;
    width: 100%;
    height: 310px;
}

.main-method {
    border-radius: 50%;
    border: 1px dashed #E1DCDC;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(233, 119, 71, 0.35);
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.main-method.visa {
    left: 116px;
    top: 80px;
}

.main-method.visa img {
    width: 70px;
}

.main-method.kreditomat {
    left: calc(50% - 75px/2 + 93px);
    top: 60px;
}

.main-method.kreditomat img {
    width: 60px;
}

.main-method.mobile {
    width: 90px;
    height: 90px;
    left: 54px;
    top: 190px;
}

.main-method.post {
    left: calc(50% - 75px/2 + 42px);
    top: 180px;
}

.main-method.post img {
    width: 60px;
}

.col-7 img {
    display: none;
}

.big {
    display: none;
}

.map {
    margin-top: 175px;
}

.map-box {
    max-width: 1250px;
    margin: 0 auto;
}

.map-header {
    display: flex;
    background: #a37fd6;
    height: 50px;
    line-height: 50px;
}

.map-header-title {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 50%;
    margin-left: 1em;
}

.map-header-city {
    text-transform: none;
    text-align: right;
    margin-right: 1em;
    font-weight: 500;
    width: 50%;
    color: white;
    font-size: 24px;
}

.i4ewOd-pzNkMb-haAclf {
    display: none;
}

footer {
    background: #FAFAFA;
    padding: 30px;
}

footer p {
    font-family: "Gilroy";
    text-align: center;
    font-size: 24px;
}

footer p:first-child {
    color: #F5863B;
}

footer p:nth-child(2) {
    color: #A37FD6;
    margin-top: 10px;
    margin-bottom: 30px;
}

.links {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
}

.links:hover {
    color: #333333;
    text-decoration: none;
}

.footer-bottom .col-6:first-child img {
    position: relative;
    bottom: -30px;
    /* left: -30px; */
}

.footer-bottom .col-6:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-row img {
    margin: 20px 6px;
}

.main-step:nth-child(2) .col-xl-5 {
    display: none;
}

.first-img-bottom {
    display: block;
}

.second-img-bottom {
    display: none;
}

.footer-texts {
    display: none;
}

.main-step .col-5 img:first-child {
    display: block;
}

.main-step .col-5 img:last-child {
    display: none;
}

.apps>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 374px) {
    .main-step p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .map-header {
        display: none;
    }
    .map {
        margin-top: 0px;
    }
}

@media (min-width: 600px) {
    .header-text {
        display: block;
    }
    .header-text a {
        margin-right: 20px;
        color: #08080A;
    }
}

@media (min-width: 768px) {
    .main-step {
        padding: 0 30px;
        display: flex;
        min-height: 500px;
    }
    .main-step .justify-content-center img {
        width: 80px;
    }
    .main-step .justify-content-center {
        padding: 0 30px;
    }
    .main-step p {
        font-size: 25px;
    }
    .main-step span {
        font-size: 26px;
        line-height: 32px;
    }
    .main-methods {
        display: none;
        justify-content: space-around;
        align-items: center;
        height: 200px;
    }
    .main-method {
        position: initial;
        width: 110px !important;
        height: 110px !important;
    }
    .apps img {
        width: 250px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 80px;
    }
    h3 {
        font-size: 50px;
    }
    .lightning img {
        height: 80px;
    }
}

@media(min-width: 1200px) {
    .header,
    .main {
        width: 1200px;
        margin: 0 auto !important;
    }
    .footer-bottom .col-6:first-child img {
        position: relative;
        bottom: -30px;
        transform: translateX(-25%);
    }
    .footer {
        width: 1140px;
        margin: 0 auto !important;
    }
    .main-step .justify-content-center {
        display: none;
    }
    .col-7 img,
    .col-xl-4 img {
        display: block;
        width: 90px;
        min-width: 90px;
        margin-right: 20px;
    }
    .main-step:nth-child(2) .col-7 img {
        margin-top: -170px;
    }
    .col-7 {
        justify-content: center;
    }
    main {
        background-image: url('../images/background-left.svg'), url('../images/background-right.svg');
        background-size: 700px, 970px;
        background-repeat: no-repeat;
        background-position: left center, right center;
    }
    .main-step p {
        width: 370px;
        font-size: 40px;
        line-height: 48px;
    }
    .main-step span {
        width: 340px;
        font-size: 32px;
        line-height: 38px;
        margin-top: 10px;
    }
    .main-step:nth-child(3) .col-5 {
        display: none;
    }
    .main-step:nth-child(3) .row {
        width: 100%;
    }
    .main-step:nth-child(2) .col-xl-5 {
        display: block;
    }
    .main-methods {
        display: none;
    }
    .main-step p br {
        display: none;
    }
    .col-xl-7 {
        display: block;
    }
    .big {
        position: relative;
        left: -120px;
    }
    .first-img-bottom {
        display: none !important;
    }
    .second-img-bottom {
        width: 440px !important;
        display: block;
    }
    .footer-top {
        display: none;
    }
    .download {
        font-size: 57px;
    }
    .money {
        font-size: 55px;
        line-height: 66px;
        margin-bottom: 40px;
        text-align: left;
        color: #A37FD6 !important;
    }
    .second-row-item {
        margin-top: 20px !important;
    }
    .links {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 15px;
        text-align: left;
    }
    .footer-row {
        justify-content: flex-start !important;
    }
    .footer-row img {
        width: 80px;
        margin-right: 25px;
    }
    .footer-texts {
        display: block;
    }
    .apps {
        display: initial;
        justify-content: flex-end;
    }
    .main-step .col-5 img:first-child {
        display: block;
    }
    .main-step .col-5 img:last-child {
        display: none;
    }
}


/* lic*/

.licence>h1,
p,
li {
    font-size: 12px;
    color: #5c5c5c;
}